body {
  margin: auto auto;
  font-family: "Roboto";
  background-color: aquamarine;
  display: flex;
  justify-self: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
